
<!--
.bg1 {background-color: #ffffff;}

.bg3 {background-color: #B5956E;}

.bgtabon {background-color: #B5956E;}

.bgtaboff {background-color: #DFD1BF;}

.texttabon {color: #000000;}

.texttaboff {color: #000000;}

td.tabon { background-color: #B5956E; color: #000000; }
.tabon A:link { color: #000000; }
.tabon A:visited { color: #000000; }
.tabon A:active { color: #000000; }
.tabon A:hover { color: #000000; }

td.taboff { background-color: #DFD1BF; color: #000000; }
.taboff A:link { color: #000000; }
.taboff A:visited { color: #000000;  }
.taboff A:active { color: #000000;  }
.taboff A:hover { color: #000000;  }

.ChanBoxBg {background-image: url(/media/org/jasig/portal/channels/CUserPreferences/tab-column/channel/chan_box_bg.gif); background-color: #B5956E;}
.setupBox {border:2px #B5956E solid;}
-->
